<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <form action="/create-user" method="POST" class="form-add-new">
        <label for="fname">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">
    
        <label for="lname">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
    
        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="vietnam">Viet Nam</option>
        </select>
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>